# path:       /home/klassiker/.local/share/repos/vimwiki-pandoc/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/vimwiki-pandoc
# date:       2020-08-31T17:45:45+0200


